# OSX
#
.DS_Store

# Android/IntelliJ
#
lab4/build/\

# node.js
#
lab4/node_modules/\

# Ruby / CocoaPods
lab4/ios/Pods/
lab4/vendor/bundle/

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# testing
lab4/coverage
